* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.App {
  padding: 64px;
}

.main {
  max-width: 620px;
  margin: 0 auto;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card {
  display: grid;
  gap: 8px;
}

.card_header {
  display: grid;
  justify-content: center;
}

.card_main {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1px;
  gap: 1px;
  background-color: #ccc;
}

.card_main > * {
  padding: 4px;
  background-color: #fff;
}
